$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;

.col1,
.col2,
.col3 {
  float: left;
}
.col1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}
.col2,
.col3 {
  width: 27.5%;
  padding: 0 2.5%;
}
.homepage_content {
  font-size: 1.1rem;
  text-transform: uppercase;

  h3 {
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: 0.85em;
    margin-bottom: 2em;
    color: $light;
  }
  p {
    margin: 0 0 0.75em 0;
  }
}
.about {
  padding: 0 7.5% 0 0;
  a {
    color: $highlight;
    font-weight: 550;
    text-decoration: none;
  }
}
